Repository AlwaysNur/bookbank, changes with the labels that .github/labeler.yml gives for each.
All labels: web, backend, documentation

ci(docker-build-push): run only on release publish (#37)
  .github/workflows/docker.yaml
Labels: none

ci(docker-build-push): run only on release publish
  .github/workflows/docker.yaml
Labels: none

ci: update release-please.yaml
  .github/workflows/release-please.yaml
Labels: none

ci: update release-please.yaml (#38)
  .github/workflows/release-please.yaml
Labels: none

docs(install): update (#39)
  docs/install.md
Labels: documentation

docs(install): update
  docs/install.md
Labels: documentation

Create version.txt
  version.txt
Labels: none

chore: create version.txt (#40)
  version.txt
Labels: none

fix(listen-page): better error handling
  web/handlers.go
Labels: web

fix(listen-page): better error handling (#41)
  web/handlers.go
Labels: web

fix(docker-cig): run on release created
  .github/workflows/docker.yaml
Labels: none

fix(docker-ci): run on release created (#43)
  .github/workflows/docker.yaml
Labels: none

Update release-please.yaml
  .github/workflows/release-please.yaml
Labels: none

fix: update release-please.yaml (#45)
  .github/workflows/release-please.yaml
Labels: none

Revert "fix: update release-please.yaml (#45)"
  .github/workflows/release-please.yaml
Labels: none

fix: revert update release-please.yaml (#45)" (#47)
  .github/workflows/release-please.yaml
Labels: none

fix: update docker.yaml
  .github/workflows/docker.yaml
Labels: none

fix: update docker.yaml (#49)
  .github/workflows/docker.yaml
Labels: none

feat: show version in footer
  web/index.html
  web/library.html
  web/listen.html
  web/static/css/base.css
  web/static/css/index.css
  web/static/js/index.js
Labels: web

fix: add go files as well
  src/main.go
  web/handlers.go
Labels: web, backend

feat: show version in footer (#50)
  src/main.go
  web/handlers.go
  web/index.html
  web/library.html
  web/listen.html
  web/static/css/base.css
  web/static/css/index.css
  web/static/js/index.js
Labels: web, backend

wip: show changelog in bookbank
  go.mod
Labels: none

feat: add files
  helper/changelog/changelog.go
  web/changelog.html
  web/static/css/changelog.css
Labels: web, backend

feat: add go.sum
  go.sum
Labels: none

feat: standard log library
  helper/log/log.go
Labels: backend

feat: standard log library (#54)
  helper/log/log.go
Labels: backend

feat!: use standard log lib (#55)
  helper/books/books.go
  helper/isbn/isbn.go
  helper/log/log.go
  src/main.go
  src/upload/upload.go
Labels: backend

feat!: use standard log lib
  helper/books/books.go
  helper/isbn/isbn.go
  helper/log/log.go
  src/main.go
  src/upload/upload.go
Labels: backend

misc: fixes
  web/handlers.go
  web/index.html
  web/library.html
  web/listen.html
Labels: web

misc: fixes (#57)
  web/handlers.go
  web/index.html
  web/library.html
  web/listen.html
Labels: web

feat: animations (#58)
  web/static/css/index.css
Labels: web

feat: animations
  web/static/css/index.css
Labels: web

fix: invalid file type (#60)
  src/upload/upload.go
Labels: backend

fix: invalid file type (#52)
  src/upload/upload.go
Labels: backend

fix(upload.go): set max memory to 32 megabytes
  src/upload/upload.go
Labels: backend

fix(upload.go): set max memory to 32 megabytes (#61)
  src/upload/upload.go
Labels: backend

feat(upload.go): allow only http post
  src/upload/upload.go
Labels: backend

feat(upload.go): allow only http post (#63)
  src/upload/upload.go
Labels: backend

ci(release-please): update (#65)
  .github/release-please-config.json
  .github/workflows/release-please.yaml
Labels: none

ci(release-please): update
  .github/release-please-config.json
  .github/workflows/release-please.yaml
Labels: none

.github/labeler.yml:

feature:
  - head-branch: ["^feat"]

chore:
  - head-branch: ["^chore"]

bug fix:
  - head-branch: ["^fix"]

web:
  - changed-files:
    - any-glob-to-any-file: web/**

backend:
  - changed-files:
    - any-glob-to-any-file: ["helper/**", "src/**"]

documentation:
  - changed-files:
    - any-glob-to-any-file: ["README.md", "docs/**"]
