Repository AlwaysNur/bookbank, changes with the labels that .github/labeler.yml gives for each.
All labels: web, backend, documentation

.github/labeler.yml:

feature:
  - head-branch: ["^feat"]

chore:
  - head-branch: ["^chore"]

bug fix:
  - head-branch: ["^fix"]

web:
  - changed-files:
    - any-glob-to-any-file: web/**

backend:
  - changed-files:
    - any-glob-to-any-file: ["helper/**", "src/**"]

documentation:
  - changed-files:
    - any-glob-to-any-file: ["README.md", "docs/**"]

Remove always-bump-minor option from workflow
  .github/workflows/release-please.yaml
Labels: none

refractor: remove always-bump-minor option from release-please (#66)
  .github/workflows/release-please.yaml
Labels: none

feat: use inter font
  web/static/css/base.css
Labels: web

feat: use inter font (#67)
  web/static/css/base.css
Labels: web

fix(mobile, desktop): overflow
  web/index.html
  web/library.html
  web/static/css/index.css
Labels: web

fix(mobile, desktop): fix overflows (#69)
  web/index.html
  web/library.html
  web/static/css/index.css
Labels: web

wip: book actions
  helper/books/books.go
  src/main.go
  src/upload/upload.go
  web/library.html
  web/listen.html
  web/static/css/listen.css
  web/static/js/listen.js
Labels: web, backend

fix(mobile): calculate padding in width
  web/static/css/index.css
Labels: web

fix(mobile): calculate padding in width (#70)
  web/static/css/index.css
Labels: web

Update listen.html
  web/listen.html
Labels: web

Update listen.js
  web/static/js/listen.js
Labels: web

Update listen.html (#72)
  web/listen.html
  web/static/js/listen.js
Labels: web

wip: python api lib
  .gitignore
  api/python/README.md
  api/python/bookbank/__init__.py
  api/python/bookbank/api.py
  api/python/bookbank/exceptions.py
  api/python/bookbank/utils.py
  api/python/example/example.py
  api/python/pyproject.toml
Labels: none

fix(mobile): calculate padding in width (#70)
  web/static/css/index.css
Labels: web

Update listen.html (#72)
  web/listen.html
  web/static/js/listen.js
Labels: web

fix(mobile, desktop): fix overflows (#69)
  web/index.html
  web/library.html
  web/static/css/index.css
Labels: web

feat: use inter font (#67)
  web/static/css/base.css
Labels: web

feat: delete book feature
  helper/books/books.go
  src/upload/upload.go
  web/listen.html
  web/static/css/index.css
  web/static/css/listen.css
  web/static/js/listen.js
Labels: web, backend

feat(book): delete book action (#76)
  helper/books/books.go
  src/main.go
  src/upload/upload.go
  web/library.html
  web/listen.html
  web/static/css/index.css
  web/static/css/listen.css
  web/static/js/listen.js
Labels: web, backend

fix(navbar): fixed navbar
  web/static/css/index.css
Labels: web

fix(navbar): fixed navbar (#78)
  web/static/css/index.css
Labels: web

feat: small field required icon (#80)
  web/add.html
  web/static/css/new.css
Labels: web

feat: small field required icon
  web/add.html
  web/static/css/new.css
Labels: web

fix(listen-page): do not insert new line after full stop
  web/static/js/listen.js
Labels: web

fix(listen-page): do not insert new line after full stop (#82)
  web/static/js/listen.js
Labels: web

fix(listen page): navbar h2 font weight
  web/static/css/listen.css
Labels: web

fix(listen page): navbar h2 font weight (#84)
  web/static/css/listen.css
Labels: web

feat(add-new-page): show book info suggestions
  web/add.html
  web/static/css/new.css
  web/static/js/add.js
Labels: web

feat(add-new-page): show book info suggestions (#86)
  web/add.html
  web/static/css/new.css
  web/static/js/add.js
Labels: web

fix(delete-book): add confirmation prompt to stop users from accidentally deleting books
  web/static/js/listen.js
Labels: web

fix(delete-book): add confirmation prompt to stop users from accidentally deleting books (#88)
  web/static/js/listen.js
Labels: web

fix(layout): add bottom padding in cards grid
  web/static/css/index.css
Labels: web

fix(layout): add bottom padding in cards grid (#90)
  web/static/css/index.css
Labels: web

docs(readme): update readme
  README.md
Labels: documentation

docs(readme): update readme (#92)
  README.md
Labels: documentation

feat(ux): add view transitions for better ux
  web/static/css/base.css
Labels: web

feat(ux): add view transitions for better ux (#93)
  web/static/css/base.css
Labels: web
