Repository AlwaysNur/bookbank, changes with the labels that .github/labeler.yml gives for each.
All labels: web, backend, documentation

wip: config file
  go.mod
  go.sum
  helper/config.toml
  helper/config/config.go
Labels: backend

chore: update dockerignore
  .dockerignore
Labels: none

docs: create install.md
  docs/examples/compose.yaml
  docs/install.md
Labels: documentation

docs(readme): update readme
  README.md
Labels: documentation

docs(install.md): update install.md
  docs/install.md
Labels: documentation

feat(listen-page): better listen page
  helper/isbn/isbn.go
  web/handlers.go
  web/listen.html
  web/static/css/listen.css
  web/static/js/listen.js
Labels: web, backend

chore: update issue templates (#18)
  .github/ISSUE_TEMPLATE/bug.yaml
  .github/ISSUE_TEMPLATE/feature.yaml
Labels: none

chore: update issue templates
  .github/ISSUE_TEMPLATE/bug.yaml
  .github/ISSUE_TEMPLATE/feature.yaml
Labels: none

feat(listen-page): update
  helper/isbn/isbn.go
  web/listen.html
  web/static/css/base.css
  web/static/css/listen.css
  web/static/js/listen.js
Labels: web, backend

feat(isbn-helper): get description function
  helper/isbn/isbn.go
Labels: backend

Create lint-go.yaml
  .github/workflows/lint-go.yaml
Labels: none

Create lint-go.yaml (#21)
  .github/workflows/lint-go.yaml
Labels: none

test error
  helper/isbn/isbn.go
Labels: backend

fix test error
  README.md
  helper/books.json
  helper/isbn/isbn.go
Labels: backend, documentation

feat(isbn-helper): get description function
  helper/isbn/isbn.go
Labels: backend

Delete .github/workflows/lint-go.yaml
  .github/workflows/lint-go.yaml
Labels: none

Delete .github/workflows/lint-go.yaml (#24)
  .github/workflows/lint-go.yaml
Labels: none

feat(isbn-helper): get description function (#23)
  helper/isbn/isbn.go
Labels: backend

commit
  web/handlers.go
Labels: web

feat(listen-page): use getDescription for listen page (#25)
  web/handlers.go
Labels: web

fix: merge conflicts
  web/handlers.go
Labels: web

feat(listen-page): better listen page (#20)
  web/handlers.go
  web/listen.html
  web/static/css/base.css
  web/static/css/listen.css
  web/static/js/listen.js
Labels: web

Create .gitattributes
  .gitattributes
Labels: none

Create .gitattributes (#26)
  .gitattributes
Labels: none

ci(release): use release please (#27)
  .github/workflows/release-please.yaml
Labels: none

ci(release): use release please
  .github/workflows/release-please.yaml
Labels: none

chore: bootstrap releases for path: .
  .release-please-manifest.json
  release-please-config.json
Labels: none

chore: bootstrap releases for path: .
  .github/release-please-config.json
  .github/release-please-manifest.json
Labels: none

chore: bootstrap releases for path: . (#29)
  .github/release-please-config.json
  .github/release-please-manifest.json
Labels: none

ci(release): update release please
  .github/workflows/release-please.yaml
Labels: none

ci: use release please (#30)
  .github/workflows/release-please.yaml
Labels: none

ci(release): update release please
  .github/workflows/release-please.yaml
Labels: none

ci: use release please (#31)
  .github/workflows/release-please.yaml
Labels: none

chore(main): release 1.0.0
  CHANGELOG.md
Labels: none

Update release-please.yaml
  .github/workflows/release-please.yaml
Labels: none

Update release-please.yaml (#33)
  .github/workflows/release-please.yaml
Labels: none

chore: use uppercase words (#34)
  helper/books/books.go
Labels: backend

chore: use uppercase words
  helper/books/books.go
Labels: backend

Update release-please.yaml
  .github/workflows/release-please.yaml
Labels: none

chore: update release-please.yaml (#35)
  .github/workflows/release-please.yaml
Labels: none

.github/labeler.yml:

feature:
  - head-branch: ["^feat"]

chore:
  - head-branch: ["^chore"]

bug fix:
  - head-branch: ["^fix"]

web:
  - changed-files:
    - any-glob-to-any-file: web/**

backend:
  - changed-files:
    - any-glob-to-any-file: ["helper/**", "src/**"]

documentation:
  - changed-files:
    - any-glob-to-any-file: ["README.md", "docs/**"]
